@model List<Student>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h2>All Students</h2>
@foreach(Student st in Model)
            {
                <div>@st.StudentId : @st.FirstName @st.LastName</div>
            }

<h2>Add Student</h2>
<form method="post" asp-action="SaveStudent">
    First Name: <input type="text" name="FirstName" />
    Last Name: <input type="text" name="LastName" />

    <input type="submit" />
</form>